<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="http://localhost:8080/js/orchestra.js"></script>
  <script src="http://localhost:8080/js/project_manager.js"></script>
  <script src="http://localhost:8080/js/view_utilities.js"></script>
  <script src="http://localhost:8080/js/projects.js"></script>
</head>
<body>
  <div id="content" class="content">
    <h1>Project Management</h1>

    <div id="projects" class="projects">
    </div>
  </div>
</body>
</html>
